body {
    margin: 0;
    padding: 0;
}
  
#blackboard-extension-root-123{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2147483647;
    background:none transparent;
}
