body {
    margin: 0;
    padding: 0;
}
  
#my-extension-root{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2147483647;
    background:none transparent;
}

.canvas {
    border: solid 3px limegreen;
}

.stage {
    min-height: 100vh;
}
